.App{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task-create{
  width: 500px;
}
.form
{
  display: flex;
    flex-direction: column;
}

.task-title{
  margin:10px 0px;
}

.task-input{
  border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
   
}

.button{
  margin: 10px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: blue
}

.showing-task{
  border:1px solid blue;
  border-radius: 30px;
  width: 350px;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.task-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deleteButton{
  padding: 5px;
  font-size: 15px;
  width: 70px;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}

.updateButton{
  padding: 5px;
  font-size: 15px;
  width: 110px;
  border-radius: 30px;
  background-color: yellowgreen;
  color: white;
  margin-right: 10px;
}